{% extends 'budget/expense.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Statystyki Twoich Wydatków</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow p-4">
                <canvas id="expensesChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('expensesChart').getContext('2d');


    const labels = {{ labels|safe }};
    const values = {{ values|safe }};

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Suma wydatków (PLN)',
                data: values,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(153, 102, 255, 0.6)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: true }
            }
        }
    });
</script>
{% endblock %}